.bg-dark {
  background-color: rgb(56, 56, 56);
}

.text-white {
  color: white;
}

.cutom-image {
  border-radius: 20px;
  padding: 10px;
  width: calc(100% - 20px);
}

.custom-actions {
  color: white;
}

.custom-actions button,
.custom-actions div {
  color: white;
  border-color: white;
}